﻿@model List<MVCEmployees.Models.Employee>


<h1>List of Employees</h1>





<br /><br />


<table border="1" cellpadding="10" class="table table-dark table-info table-responsive ">

    <tr>
        <th scope="col">#</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Designation</th>
        <th scope="col">Edit Employee information</th>
        <th scope="col">Delete Employee information</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@item.EmployeeID</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Designation</td>
            <td>
                <button asp-controller="Home" asp-action="Update"
                        asp-route-id="@item.Id" role="button" class="btn btn-warning">
                    Edit
                </button>
            </td>
            <td>
                <a asp-controller="Home" asp-action="ConfirmDelete"
                   asp-route-id="@item.Id" role="button" class=" btn btn-danger">Delete</a>
            </td>

        </tr>
    }
</table>
<a asp-controller="Home" asp-action="Insert" role="button" class="btn btn-success">
    Add New Employee
</a>
<h2>@TempData["Message"]</h2>


  User..........<input type="text" id="userInput" />
<br />
            Message...<input type="text" id="messageInput" />
<input type="button" id="sendButton" value="Send Message" />
<div class="col-6">
    <ul id="messagesList"></ul>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>


