﻿@model MVCEmployees.Models.Employee


<h1>Insert Employee</h1>

<h2>@ViewBag.Message</h2>

<form asp-controller="Home" asp-action="Insert" class="form-group"
      method="post">
    <table border="1" cellpadding="10" class="table table-dark table-striped">
        <tr>
            <td>Employee ID :</td>
            <td><input asp-for="EmployeeID" /></td>
        </tr>
        <tr>
            <td>First Name :</td>
            <td><input asp-for="FirstName" /></td>
        </tr>
        <tr>
            <td>Last Name :</td>
            <td><input asp-for="LastName" /></td>
        </tr>
        <tr>
            <td>Designation :</td>
            <td><input asp-for="Designation" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn btn-primary" width="100%" type="submit">Save</button>
            </td>
        </tr>
    </table>
</form>